.weather-badge {
    align-items: center;
    background-color: #78cbbf;
    width: 50%;
    height: 90%;
    border-radius: 16px;
    color: aliceblue;
}

.weather-badge-container {
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
}

.all-height {
    height: 100vh;
}